* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body{
    background: linear-gradient(198deg,black, rgba(23, 22, 23, 0.555));;
    height: 100%;
}

.card{
    margin: 200px auto;
    height: 365px;
    width: 330px;
    box-shadow: 0px 0px 10px 10px rgba(31, 30, 30, 0.5);
    border-radius: 5%;
    border-color: white;
    background: linear-gradient(70deg,black, rgb(167, 165, 165));
}


.input-text{
    padding: 5px;
    margin: 10px 15px;
    text-align: center;
    color: white;
    width: 120px;
    position: relative;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
}

img{
    padding-left: 35%;
    padding-top: 30px;
}

.description{
    text-align: center;
    color: white;
    font-size: 20px;
}

.info{
    position: relative;
    padding-left: 15px;
    padding-top: 20px;
    color: white;
    font-size: 20px;
}

.wind{
    margin-top: 30px;
}

.temp{
    text-align: end;
    left: 100px;
    top: 50px;
}


.rowC{display:flex; flex-direction:row;}

::placeholder{
    color: white;
}